body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/******** FOR INDEX_EXTERNALCSS.JS FILE CSS CODE********** */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  text-align: center;
  text-transform: capitalize;
  font-size:35px;
  margin: 40px;
  text-shadow: 2px 3px 4px red;
  font-family: 'Dancing Script', cursive;
}

.imgdiv{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  
}
.imgdiv a{
  display: flex;
  align-items: center;
} */

